@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body,
button,
input,
select {
	margin: 0;
	font-family: Figtree;
}

/* header section */
.lan-body {
	@apply bg-[#0f0f0f] px-20 pt-5 rounded-bl-[40px] rounded-br-[40px];
}
.lan-head {
	@apply bg-[#222] px-5 py-4 flex rounded-xl;
}
.lan-btn {
	@apply ml-auto;
}
.btn-common {
	@apply py-[15px] px-[30px]  font-semibold text-base rounded-full leading-[19px];
}
.login {
	@apply bg-[#2c2c2c]  text-white;
}
.create-link {
	@apply bg-[#fff] text-[#0f0f0f] ml-3;
}

/* header 2 section */
.land-head {
	@apply mt-[100px];
}
.land-head h1 {
	@apply text-center font-bold text-[90px] text-white leading-[99px];
}
.land-head p {
	@apply text-[24px] text-center font-semibold  text-white mt-6 leading-[33.3px] md:w-[708px] m-auto;
}

/* input section */
.profile-cre {
	@apply flex items-center justify-center gap-3 mt-[48px] pb-[64px];
}
.profile-input {
	@apply w-[380px] border-solid border-[rgba(255,255,255,0.5)] rounded-full py-5 px-5 border;
}
.profile-input span {
	@apply text-[rgba(255,255,255,0.35)] font-semibold text-base;
}
.profile-input input {
	@apply bg-transparent outline-none w-[245px] text-white text-base font-semibold;
}
.land-claim button {
	@apply bg-[#ffed5d] rounded-full px-6 py-[21px] text-[#0f0f0f] text-base font-bold leading-[22px];
}
::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

/* section 2 body */

.sticky-parent {
	@apply h-[500vh] -mx-20;
}
.stickyin {
	@apply sticky top-0 h-[600px] overflow-x-hidden overflow-y-hidden;
}
.dim {
	@apply min-w-[100vw] h-full  w-full flex justify-center items-center;
}
.horizontal {
	@apply flex h-full w-full;
}
.dim h2 {
	@apply text-center font-bold text-white text-[90px] leading-[90px];
}
.dim span {
	@apply text-center font-bold text-[#f5507d] text-[90px] leading-[90px];
}
.dim p {
	@apply text-center font-semibold text-white text-[24px] pt-4 leading-[33.3px];
}

/* section three part */
.land-influ {
	@apply mt-[73px] mx-[100px];
}
.land-vlog {
	@apply flex w-full gap-10;
}
.land-a {
	@apply w-full h-[660px] overflow-auto relative;
}
.vloger-head {
	@apply sticky top-0 z-10 bg-white flex items-center;
}
.land-a span {
	@apply text-[#0f0f0f] text-[60px] font-bold;
}
.land-a button {
	@apply bg-[rgba(26,97,233,0.1)] px-[32px] py-4 text-[#1a61e9] text-[60px] font-bold rounded-full ml-3 leading-[66px];
}
.land-a p {
	@apply text-2xl pt-[32px] font-semibold text-[#0f0f0f];
}

/* right side image */
.land-vloger {
	@apply bg-[#ffa42b] rounded-[40px] w-full relative;
}
.land-vloger img {
	@apply m-auto z-10;
}
iframe.code {
	@apply block w-1 h-1 min-w-full min-h-[690px] border-none;
}
.man-pic img {
	@apply absolute left-[117px] right-0 top-[-45px];
}
.speaker-pic img {
	@apply absolute right-[161px] left-0 top-[50px];
}
.camera-pic {
	@apply relative;
}
.camera-pic img {
	@apply absolute bottom-[54px] right-0;
}
.list-pic img {
	@apply absolute top-[26%] left-0 right-[26px];
}
.land-vloger iframe {
	@apply absolute z-10;
}
.test-vloger {
	@apply bg-cover max-w-[500px] m-auto h-auto relative z-10 pointer-events-none;
	transition: transform 0.1s ease;
	transform-style: preserve-3d;
	will-change: transform;
	touch-action: none;
}

/* left side text section */
.land-lin {
	@apply mt-[278px];
}
.land-lin span {
	@apply text-[40px] font-bold text-[#0f0f0f];
}
.land-lin p {
	@apply text-base font-medium text-[rgba(15,15,15,0.7)] pt-[7px];
}

/* progress bar section */
.earn-section {
	@apply bg-[#290038] rounded-[40px] mx-[26px] mt-[60px];
}
.earn-main {
	@apply flex gap-[100px];
}
.earn-money-section {
	@apply m-auto w-full text-center py-[107px] pl-[128px];
}
.earn-money-section h2 {
	@apply text-[123.4px] font-extrabold text-white leading-[197.5px] flex items-baseline justify-center;
}
.rupee {
	@apply text-[88.2px] font-extrabold text-white leading-[141.1px];
}
.earn-money-section p {
	@apply text-[rgba(255,255,255,0.4)] font-medium text-[13px] pt-3 w-[308px] m-auto;
}
.earn-btn {
	@apply mt-[38px] ml-0 font-bold;
}
.earn {
	@apply text-[60px] text-white font-bold leading-[60px];
}
.emoji {
	@apply text-[44px] font-bold leading-[44px];
}
.earn-rich {
	@apply w-full pt-[100px] pr-[88px];
}
.earn-rich h3 {
	@apply text-[40px] text-white font-bold leading-[64px];
}
.earn-rich p {
	@apply text-base text-[rgba(255,255,255,0.85)] font-medium leading-[25.5px] pt-[7px];
}
.earn-rich span {
	@apply text-[18px] text-white font-bold leading-[28.8px] pt-[48px] block;
}
.range-slider {
	@apply relative mt-[15px] flex items-center gap-[24px];
}
.earn-k {
	@apply text-[18px] font-medium text-[rgba(255,255,255,0.4)];
}
#range {
	@apply w-full bg-[rgba(255,255,255,0.2)] rounded-[10px] focus:outline-none;
	-webkit-appearance: none;
}

#range::-webkit-slider-runnable-track {
	@apply w-full h-2.5 cursor-pointer rounded-[20px];
	animate: 0.2s;
	background: linear-gradient(
		90deg,
		#ffa42b var(--range-progress),
		rgba(255, 255, 255, 0.2) var(--range-progress)
	);
}
#range::-webkit-slider-thumb {
	@apply rounded-full bg-white h-6 w-6 cursor-pointer;
	-webkit-appearance: none;
	transform: translateY(calc(-50% + 5px));
}
#tooltip {
	@apply absolute -bottom-3;
}
#tooltip span {
	position: absolute;
	text-align: center;
	display: block;
	padding-top: 0;
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 500;
	transform: translate(-50%, 0);
	line-height: 26px;
}
#range2 {
	@apply w-full bg-[rgba(255,255,255,0.2)] rounded-[10px] focus:outline-none;
	-webkit-appearance: none;
}

#range2::-webkit-slider-runnable-track {
	@apply w-full h-2.5 cursor-pointer rounded-[20px];
	animate: 0.2s;
	background: linear-gradient(
		90deg,
		#ffa42b var(--range-progress),
		rgba(255, 255, 255, 0.2) var(--range-progress)
	);
}
#range2::-webkit-slider-thumb {
	@apply rounded-full bg-white h-6 w-6 cursor-pointer;
	-webkit-appearance: none;
	transform: translateY(calc(-50% + 5px));
}
#tooltip2 {
	@apply absolute -bottom-3;
}
#tooltip2 span {
	position: absolute;
	text-align: center;
	display: block;
	padding-top: 0;
	color: rgba(255, 255, 255, 0.85);
	font-size: 14px;
	font-weight: 500;
	transform: translate(-50%, 0);
	line-height: 26px;
}
.rangein {
	@apply mt-[32px];
}

/* Carousel Section */

.pick-carousel-sec {
	@apply bg-[#0f0f0f] mx-[26px] mt-[28px] mb-[48px] rounded-[40px] overflow-hidden;
}
.pick-caro {
	@apply pl-[74px] flex;
}
.pick-influ {
	@apply pt-20 pb-[248px];
}
.pick-influ h3 {
	@apply text-[60px] font-extrabold text-white leading-[66px] w-[579px];
}
.pick-influ span {
	@apply text-[#f5507d];
}
.pick-influ p {
	@apply text-[24px] font-semibold text-white leading-[33.6px] pt-8 w-[548px];
}
.pick-slider {
	@apply w-full;
}
.slide-track {
	@apply flex;
	animation: scroll 80s linear infinite;
}

.slide-track2 {
	@apply flex;
	animation: scroll 100s linear infinite;
	animation-direction: reverse;
}
.slide-track:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	cursor: pointer;
}
.slide-track2:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
	cursor: pointer;
}
@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(-250px * 10));
	}
}
@keyframes scroll2 {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(calc(250px * 10));
	}
}
.slider {
	@apply relative h-auto m-auto;
	transform: rotate(-35deg);
}
.slider-second {
	@apply mt-24;
}
.flip-card {
	@apply bg-white w-[250px] h-[250px] rounded-full mx-2;
	perspective: 1000px;
}

.flip-card-inner {
	@apply relative w-[250px] h-full text-center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
	@apply absolute w-[250px] h-[250px] rounded-full;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-card-front img {
	@apply w-[250px] h-[250px] rounded-full;
}

.flip-card-back {
	@apply bg-white rounded-full cursor-pointer flex items-center flex-col justify-center;
	transform: rotateY(180deg);
}

.flip-card-back p {
	@apply text-[#F5507D] font-normal text-sm;
}
.flip-card-back h3 {
	@apply text-[#0f0f0f] font-bold text-lg truncate max-w-[180px];
}

/* frequently ansked question */
.lan-asked {
	@apply bg-[#fbe9d5] px-[100px] mt-[48px] pb-[48px];
}
.pick-askme {
	@apply flex;
}
.pic-le {
	@apply pt-[162px] w-full;
}
.pic-le img {
	@apply rounded-full w-[200px] h-[200px] object-cover;
}
.pic-le span {
	@apply text-[24px] font-semibold text-[#0f0f0f] pt-[36px] block;
}
.pic-le h4 {
	@apply text-[60px] font-extrabold text-[#0f0f0f] pt-3 leading-[66px];
}
.pick-re {
	@apply pt-20 w-full;
}
.accordion-heading {
	@apply text-[#0f0f0f] text-xl border-b border-[rgba(15,15,15,0.1)] px-0 py-4 font-bold cursor-pointer;
}
.accordion-heading::before {
	@apply align-middle inline-block border-t-[7px] border-t-[rgba(15,15,15,0.45)] border-l-[7px] border-l-transparent border-r-[7px] border-r-transparent float-right mt-[14px];
	content: "";
	transform: rotate(0);
	transition: all 0.5s;
}
.active.accordion-heading::before {
	transform: rotate(-180deg);
}
.not-active.accordion-heading::before {
	transform: rotate(0deg);
}
.accordion-content {
	@apply hidden px-0 py-4 text-[rgba(15,15,15,0.7)] text-base leading-[22.4px] font-medium;
}
.accordion-content p {
	@apply mt-[30px];
}
.accordion-content a {
	@apply text-[#f5507d];
}

/* footer section  */

.pic-footer {
	@apply bg-[#222222] mt-[100px] rounded-[20px] px-[48px] py-10;
}
.lan-footer {
	@apply flex items-center;
}
.footer-by span {
	@apply text-[rgba(255,255,255,0.4)] text-[15px] font-semibold;
}
.footer-social {
	@apply flex items-center mt-[36px] gap-4 h-[56px];
}
.footer-social img {
	@apply bg-[#2c2c2c] p-2 rounded-full cursor-pointer;
}
.footer-social img:hover {
	animation-name: footer-social;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@keyframes footer-social {
	25% {
		transform: scale(1.1);
	}

	75% {
		transform: scale(0.9);
	}
}
.footer-policy {
	@apply ml-auto flex gap-[30px];
}
.footer-policy span {
	@apply text-[rgba(255,255,255,0.5)] font-semibold text-[13px] cursor-pointer;
}
/* h1 animation zoom-in */
.zoo-in {
	animation-duration: 3s;
	animation-fill-mode: both;
}
.zoo-in-i {
	animation-duration: 3s;
	animation-fill-mode: both;
}
.zoo-in-i {
	animation-name: zoomInLeft;
}
.zoo-in {
	animation-name: zoomInLeft;
}

@keyframes zoomInLeft {
	from {
		transform: scale(-0) translateX(-10%);
		opacity: 0;
	}
}

/* link text animation */
.land-head span {
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
	from {
		-webkit-filter: hue-rotate(0deg);
	}
	to {
		-webkit-filter: hue-rotate(-360deg);
	}
}

/* button animation */

.land-claim button:hover {
	background-position: 100% 0;
	moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.land-claim button {
	moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	background-size: 300% 100%;
}
.land-claim button {
	background-image: linear-gradient(
		to right,
		#edd834,
		#c7b61c,
		#ffed5d,
		#d9e021
	);
}

/* image zoom in animation */
.man-pic img {
	animation: man-pic 3s ease-in;
}
@keyframes man-pic {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
.speaker-pic img {
	animation: speaker-pic 3s ease-in;
}
@keyframes speaker-pic {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
.list-pic img {
	animation: list-pic 6s ease-in;
}
@keyframes list-pic {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
.camera-pic img {
	animation: camera-pic 2s ease-in;
}
@keyframes camera-pic {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

/* cursor pointer hover */
.test-vloger {
	cursor: url(https://pickmyad.com/images/logo.svg), auto;
}

/* vloger scroll overwrite */
.land-a::-webkit-scrollbar {
	width: 0px;
}
.land-a::-webkit-scrollbar-track {
	background: #f1f1f1;
}
.land-a::-webkit-scrollbar-thumb {
	background: #888;
}

.land-a::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.myDiv {
	display: none;
	text-align: center;
}
.myDiv img {
	margin: 0 auto;
}
.myDiv span {
	text-align: center;
	background: #ffdede;
	padding: 6px 10px;
	display: block;
	width: 100px;
	border: 1px solid #d47c7c;
	margin: 8px auto;
}
.selectParent {
	@apply bg-[rgba(26,97,233,0.1)] px-[32px] cursor-pointer py-4 text-[#1a61e9] text-[60px] font-bold rounded-full ml-3 leading-[66px];
}

.selectParent select {
	text-indent: 1px;
	text-overflow: "";
	/* width: 100px; */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* padding: 2px 2px 2px 2px;
	border: none; */
	background: transparent
		url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png")
		no-repeat 60px center;
	outline: none;
	background-position: calc(100% - 3px) center;
	cursor: pointer;
}
option {
	color: #0f0f0f;
	font-size: 40px;
	padding: 10px 11px 10px 11px;
	border: 1px solid #dfe3eb;
	border-radius: 10px;
	font-weight: 500;
	width: 100%;
	cursor: pointer;
}
/* #showOne {
	color: red;
	border: 1px solid red;
	padding: 10px;
}
#showTwo {
	color: green;
	border: 1px solid green;
	padding: 10px;
}
#showThree {
	color: blue;
	border: 1px solid blue;
	padding: 10px;
} */
.dropdown-el {
	margin-top: 20vh;
	min-width: 12em;
	position: relative;
	display: inline-block;
	margin-right: 1em;
	min-height: 2em;
	max-height: 2em;
	overflow: hidden;
	top: 0.5em;
	cursor: pointer;
	text-align: left;
	white-space: nowrap;
	color: #444;
	outline: none;
	border: 0.06em solid transparent;
	border-radius: 1em;
	background-color: #cde4f5;
	transition: 0.3s all ease-in-out;
}
.dropdown-el input:focus + label {
	background: #def;
}
.dropdown-el input {
	width: 1px;
	height: 1px;
	display: inline-block;
	position: absolute;
	opacity: 0.01;
}
.dropdown-el label {
	border-top: 0.06em solid #d9d9d9;
	display: block;
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	padding-right: 3em;
	cursor: pointer;
	position: relative;
	transition: 0.3s color ease-in-out;
}
.dropdown-el label:nth-child(2) {
	margin-top: 2em;
	border-top: 0.06em solid #d9d9d9;
}
.dropdown-el input:checked + label {
	display: block;
	border-top: none;
	position: absolute;
	top: 0;
	width: 100%;
}
.dropdown-el input:checked + label:nth-child(2) {
	margin-top: 0;
	position: relative;
}
.dropdown-el::after {
	content: "";
	position: absolute;
	right: 0.8em;
	top: 0.9em;
	border: 0.3em solid #3694d7;
	border-color: #3694d7 transparent transparent transparent;
	transition: 0.4s all ease-in-out;
}
.dropdown-el.expanded {
	border: 0.06em solid #3694d7;
	background: #fff;
	border-radius: 0.25em;
	padding: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
	max-height: 15em;
}
.dropdown-el.expanded label {
	border-top: 0.06em solid #d9d9d9;
}
.dropdown-el.expanded label:hover {
	color: #3694d7;
}
.dropdown-el.expanded input:checked + label {
	color: #3694d7;
}
.dropdown-el.expanded::after {
	transform: rotate(-180deg);
	top: 0.55em;
}
.influ-dropsec {
	display: flex;
	background: rgba(26, 97, 233, 0.1);
	cursor: pointer;
	border-radius: 70px;
	align-items: center;
	margin-left: 20px;
	padding-right: 10px;
}
.influ-dropsec img {
	@apply w-[70px] h-24;
}
.influ-vlog {
	font-size: 60px;
	border-radius: 50px;
	line-height: 66px;
	padding: 16px 10px 16px 32px;
	cursor: pointer;
	font-weight: 700;
	color: #1a61e9;
}
.infludrop-btn {
	padding: 4px 6px;
	border-radius: 12px;
	box-shadow: 4px 4px 20px 0 rgb(15 15 15 / 10%), 0 0 4px 0 rgb(51 35 77 / 5%);
	background-color: #fff;
	width: 312px;
	margin-top: 4px;
	position: absolute;
	left: 30%;
}
#select0,
#select1,
#select2,
#select3 {
	font-size: 20px;
	font-weight: 600;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 12px;
	cursor: pointer;
}
#select0:hover,
#select1:hover,
#select2:hover,
#select3:hover {
	padding: 8px 12px;
	border-radius: 6px;
	background-color: #fbe9d5;
}
